<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao blog do NodeJS</h1>
  <p class="lead">Nesse blog você poderá encontrar tudo sobre NodeJS.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-outline-primary btn-lg" href="#" role="button">Crie uma conta</a>
</div>
<hr>
<h2>Postagens recentes:</h2>

{{#each postagens}}
  <div class="card">
    <div class="card-body">
      <h3>{{titulo}}</h3>
      <p>{{descricao}}</p>
    </div>
  </div>
{{else}}
  <h5>Nenhuma postagem!</h5>
{{/each}}