<h4>Categorias:</h4>
<p>Encontre artigos por categorias.</p>

<div class="card">
  <div class="card-body">
    {{#each categorias}}
      <a href="/categorias/{{slug}}"><h5>{{nome}}</h5></a>
    {{else}}

    {{/each}}
  </div>
</div>
